POSTGRES_URL=postgres://postgres:postgres@localhost:54322/viskify_postgres
BASE_URL=http://localhost:3000
AUTH_SECRET=***
STRIPE_SECRET_KEY=sk_test_***
STRIPE_WEBHOOK_SECRET=whsec_***

OPENAI_API_KEY=YOUR_OPENAI_KEY
CHEQD_API_KEY=YOUR_CHEQD_API_KEY
CHEQD_API_URL=https://studio-api.cheqd.net

# Viskify (platform) DID used when the site itself is the issuer
NEXT_PUBLIC_PLATFORM_ISSUER_DID=did:cheqd:testnet:123456-platform

# -------------------- Verida Configuration --------------------
NEXT_PUBLIC_VERIDA_API_URL=https://api.verida.ai/api/rest
NEXT_PUBLIC_VERIDA_AUTH_URL=https://app.verida.ai
NEXT_PUBLIC_VERIDA_API_VERSION=v1
NEXT_PUBLIC_VERIDA_APP_DID=did:vda:polpos:0xf68e9992e34Eb4be9A27e1f7D18871F2Bb70C1ad
NEXT_PUBLIC_VERIDA_DEFAULT_SCOPES=api:ds-query,api:search-universal,api:connections-profiles,api:connections-status,api:db-query,api:ds-get-by-id,api:db-get-by-id,api:ds-update,api:search-ds,api:search-chat-threads,ds:r:social-email,ds:r:social-chat-group,ds:r:social-chat-message,ds:r:file,api:llm-agent-prompt
NEXT_PUBLIC_VERIDA_APP_REDIRECT_URL=http://localhost:3000/api/verida/callback